{% extends "BurrichBlogBundle::layout.html.twig" %}

{% block title %}{{ parent() ~ ' - ' ~ post.title }}{% endblock %}

{% block content %}
  <div class="blog-post">
    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">Le {{ post.publishedDate|localizeddate('long', 'none') }}, par <a href="">{{ post.author.username }}</a></p>
    
    {{ post.content }}
  </div><!-- /.blog-post -->

  <div id="comments">
    {{ include('BurrichBlogBundle:Comment:add.html.twig') }}

    {% if post.comments is not empty %}
      <h3>{{ post.comments|length }} commentaire(s) :</h3>

      {% for flashMessage in app.session.flashbag.get('notice') %}
        <p>{{ flashMessage }}</p>
      {% endfor %}

      {% for comment in post.comments %}
        <p class="blog-post-meta">

          {% if comment.author is null %}
            Anonyme 
          {% else %}
            <a href="">{{ comment.author }}</a> 
          {% endif %}
          - {{ comment.publishedDate|localizeddate('long', 'none') }}

          {% if (app.user and (app.user.username == comment.author)) or is_granted('ROLE_ADMIN') %}
             - <a href="{{ path('comment_edit', {'id': comment.id}) }}" title="Editer le commentaire">e</a>  
            <a href="{{ path('comment_delete', {'id': comment.id}) }}" title="Supprimer le commentaire">x</a>
          {% endif %}
        </p>
        <p>{{ comment.content }}</p>
      {% endfor %}
    {% endif %}
  </div>
  
{% endblock %}
