<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome to Twin Peaks{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    {% stylesheets 'css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body>
    {% block body %}
    {# Navigation #}
    <div class="blog-masthead">
      <div class="container">
        <ul class="blog-nav nav navbar-nav">
          <li><a class="blog-nav-item {{'page' in app.request.get('_route_params')|keys and app.request.get('_route_params')['page'] == 1 ? 'active' }}" href="{{ path('blog_index') }}" title="Accueil">Accueil</a></li>
          
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

            {% if is_granted('ROLE_ADMIN') %}
            <li><a class="blog-nav-item" href="{{ path('sonata_admin_redirect') }}" title="Admin">Administration</a></li>
            {% endif %}

            <li class="dropdown">
              <a href="#" class="dropdown-toggle blog-nav-item {{ app.request.get('_route') starts with 'fos_user_profil' ? 'active' }}" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-user" aria-hidden="false"></span> {{ app.user.username }} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('sonata_user_profile_show') }}">Profil</a></li>
                <li><a href="{{ path('sonata_user_security_logout') }}">Deconnexion</a></li>
              </ul>
            </li>

          {% else %}
            <li><a class="blog-nav-item {{ app.request.get('_route') == 'fos_user_registration_register' ? 'active' }}" href="{{ path('sonata_user_registration_register') }}" title="Inscription">Inscription</a></li>
            <li><a class="blog-nav-item {{ app.request.get('_route') == 'fos_user_security_login' ? 'active' }}" href="{{ path('sonata_user_security_login') }}" title="Connexion">Connexion</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="container">
      {# Title #}
      <div class="blog-header">
        <h1 class="blog-title">Welcome to Twin Peaks !</h1>
        <p class="lead blog-description">How's Annie ?</p>
      </div>

      {# Content #}
      {% block content %}{% endblock %}
    </div>

    {# Footer #}
    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    {% endblock %}

    {# Js #}
    {% block javascripts %}
      <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {% endblock %}
  </body>
</html>
