<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome to Twin Peaks{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    {% stylesheets 'css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>

  <body> <!-- TODO revoir la structure -->
    {% block body %}
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item {{'page' in app.request.get('_route_params')|keys and app.request.get('_route_params')['page'] == 1 ? 'active' }}" href="{{ path('blog_index')}}" title="Accueil">Accueil</a>
          <a class="blog-nav-item" href="{{ path('sonata_admin_redirect')}}" title="Admin">Admin</a>
          
          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a class="blog-nav-item" href="{{ path('fos_user_security_logout')}}" title="Logout">Logout</a>
          {% else %}
            <a class="blog-nav-item" href="{{ path('fos_user_security_login')}}" title="Login">Login</a>
          {% endif %}
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title">Welcome to Twin Peaks !</h1>
        <p class="lead blog-description">How's Annie ?</p>
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          {% block content %}{% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          {% block sidebar %}{% endblock %}
        </div><!-- /.blog-sidebar -->
      </div><!-- /.row -->
    </div>

    <footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
    {% endblock %}

    {% block javascripts %}{% endblock %}
  </body>
</html>
