{% extends "BurrichBlogBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Editer un commentaire{% endblock %}

{% block sections %}
  <h2 class="blog-post-title">Editer un commentaire</h2>
    
  {{ form_start(editCommentForm) }}
    {{ form_errors(editCommentForm) }}

    <div class="form-group">
      {{ form_errors(editCommentForm.content) }}
      {{ form_widget(editCommentForm.content) }}
  	</div>

    <input type="submit" value="Editer" class="btn" />
    <a href="{{ path('post_show', {'slug': comment.post.slug}) }}#comments" title="Retour" class="btn btn-default">Retour</a>
  {{ form_end(editCommentForm) }}
{% endblock %}
